*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    --primary-color: #557a95;
    --primary-color-light: #7395ae;
    --secondary-color: #5d5c61;
    --secondary-color-light: #949494;
    --tertiary-color: #b1a296;
    --font-color: #e7e7e7;
    background-color: var(--tertiary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 25vw;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.book-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.book-form.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-modal {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 20px 15px;
}

.library-container {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: flex-start;
}

.book-card {
    width: 12rem;
    margin: 1rem;
    background-color: var(--secondary-color-light);
    border-radius: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: hidden;
}

.book-title {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--font-color);
    overflow-wrap: normal;
}

.book-author, .book-pages, .book-read {
    margin: 0.5rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}